@font-face {
    font-family: "Bidenatrial";
    src:
      url("fonts/Bidenatrial.ttf") format("truetype");
  }

/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333; /*couleur du fonds */
    color: #ffffff; /*couleur du texte */
}

/* En-tête */

header {
    padding: 50px;
    text-align: center;
}

header h1 {
    font-family: 'Bidenatrial', serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

nav {
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px; /* espace entre les titres */
    width: auto; /* adapte la largeur du contenu */
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease; /* changement de couleur */
}

a:hover {
    color: #ffc107; /* change la couleur quand on survole avec la souris */
}

nav div a {
    font-size: 30px; /* grande taille des caractères dans l'en-tête */
}

/*aside correspond au bloc de droite*/
aside {
    display: flex;
    height :min-content; /* permet que le bloc ne descende pas jusqu'en bas*/
} 

ul li {
    padding: 5px 10px; /* ajoute de l'espace dans la liste à la fin */
}

/* Conteneur principal */
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.content {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px; /* coins arrondis */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* ombre derrière le bloc */
}

.content h2 {
    color: #ffc107;
    margin-top: 40px;
    font-size: x-large ;
}

.content h3 {
    color: #bebebe;
    margin-top: 25px;
    font-size: large;
}

.content a {
    text-decoration: none;
    color: #ffc107;
    transition: color 0.3s ease; /* changement de couleur */
}

.content a:hover {
    color: #666666; /* change la couleur quand on survole avec la souris */
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px; /* coins arrondis */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* ombre derrière le bloc */
    text-align: center;

}

aside figure { /* l'image est dans un conteneur */
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 65%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.sidebar-image {/* limite la largeur de l'image à son conteneur */
    max-width: 100%; 
    height: auto; /* conserve les proportions */
    display: block; /* l'image est un élément block */
    margin: 0 auto; /* centre l'image horizontalement */
    border-radius: 5%; /* arrondit les coins */
}


aside table {
    width: 100%;
}

aside th, .sidebar td {
    text-align: left;
    padding: 15px;
    color: #ffc107
}

/* propriété pour le petit drapeau*/
.flag { 
    width: 16px; 
    height: 16px; 
    vertical-align: middle;
    margin: 10px;
}

/* pour que le site soit adapté aux téléphones */
@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }

    aside {
        order: -1;
      } /* inverse la colonne aside avec celle de content quand le navigateur est petit */
}
